<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>$TITLE</title>

    <!-- Bootstrap -->
    <link href="$CONTEXT_PATH/css/bootstrap.min.css" rel="stylesheet">
    <link href="$CONTEXT_PATH/css/readable-bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="$CONTEXT_PATH/js/html5shiv.min.js"></script>
    <script src="$CONTEXT_PATH/js/respond.min.js"></script>
    <![endif]-->

    <script src="$CONTEXT_PATH/js/bundle-main.js"></script>
    
    <script id="root-data" type="x-application/view-data">
        $VIEW_DATA
    </script>
</head>
<body>
<div id="root">
    $CONTENT
</div>
</body>
</html>
